<div class="comments_left_bracket">
<%= image_tag("brackets/left_bracket.png", width: '66', height: '312') %>
</div>

<div class="comments_area_1">
<h2>Sign Up to <%= link_to "healthether", root_path %></h2>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions"><%= f.submit "Sign Up" %></div>
<% end %>
</div>

<div class="comments_right_bracket">
<%= image_tag("brackets/right_bracket.png", width: '66', height: '312') %>
</div>