<br>
<br>
<ul>
  <% @concepts.each do |concept| %>
        <table>
          <tr>
            <th>Name: </th>
            <td><%= link_to concept.name, concept %></td>
          </tr>
          <tr>
            <th>Image Path: </th>
            <td><%= concept.image %></td>
          </tr>
          <tr>
            <th>Video Path: </th>
            <td><%= concept.video %></td>
          </tr>
          <tr>
            <th>Content Area 1: </th>
            <td><%= concept.content_area_1 %></td>
          </tr>
        </table>

  <% end %>
</ul>

  <%= link_to 'New Concept', new_concept_path(@concept), class: 'button' %>

<br>  
<br>
<br>  