<!DOCTYPE html>
<html>
  <head>
    <title>Healthether</title>
      <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
      <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
      <%= csrf_meta_tags %>
      <!--[if lt IE 9]>
           <script src="html5shiv.js"></script>
      <![endif]-->
  </head>

  <body>

  <div class="container">

   <% if flash[:notice] %>
     <br>
      <h1 class="flash notice">
        <%= flash[:notice] %>
    <% end %></h1>

    <% if flash[:alert] %>
     <br>
    <h1 class="flash alert">
      <%= flash[:alert] %>
  <% end %></h1>

    <%= render "layouts/header" %>
    <%= yield %>
    <%= render "layouts/footer" %>

  </div>

  </body>

</html>